.container__personajes {
  max-width: 1200px;
  margin: 0 auto;
}

.container__title{
  text-align: center;
  font-size: 3rem;
  margin: 1rem ;
}

.container__personaje {
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 2rem;
}